@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #1a3a2a;
  --cream: #f5f0e8;
  --gold: #c8a96e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
  color: var(--green);
  font-family: 'DM Sans', sans-serif;
}

.font-syne {
  font-family: var(--font-syne);
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}